:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #e30611;
    --bg-color-primary: #f7f7f7;

    --component-padding: 20px;
    --font-primary: Geometria, Arial, sans-serif;
}
