.header {
    position: sticky;
    top: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 66px;

    background: var(--color-white);
    box-shadow: 0 2px 10px #0000001a;
}

.container {
    display: flex;

    height: 100%;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 90px;

    background: var(--color-primary);
    border-radius: 0 0 14px 14px;
}

.logoSvg {
    width: 40px;
    height: 40px;
}
